body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.react-flow__controls {
  background: #ffffff; 
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.react-flow__controls-button {
  background: white !important;
  border: 1px solid #ddd !important;
  border-radius: 6px !important;
}

.react-flow__controls-button:hover {
  fill: blue !important; 
  transform: scale(1.05);
}
